langchain
langgraph
langsmith
langchain-groq
langchain-community
langchain-core
chromadb
sentence-transformers
arxiv
firecrawl-py
streamlit
python-dotenv
groq
pydantic
numpy
torch
torchvision
pymupdf
pageindex
